# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Exports
exports/*
!exports/.gitkeep

reports/*
!reports/.gitkeep

# Data
data/*
!data/.gitkeep

# OS
.DS_Store
Thumbs.db
